### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup

import os
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = (r"/Users/kellenquinn/Desktop/pandas-challenge/pandas-challenge/pandas-challenge/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = (r"/Users/kellenquinn/Desktop/pandas-challenge/pandas-challenge/pandas-challenge/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete_df

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
# Total Number of Schools in District
Schools = len(pd.unique(school_data_complete_df['school_name']))
print("No_of_schools:", Schools)

In [ ]:
# Total Number of Students in District
Students = len(pd.unique(school_data_complete_df['Student ID']))
print("No_of_students:", Students)

In [ ]:
# Total District Budget
TotalDistBudget=school_data_df['budget'].sum()
print("${:.2f}".format(TotalDistBudget))

In [ ]:
# Average Math Score
Average_Math_Score =student_data_df['math_score'].mean()
print("{:.2f}%".format(Average_Math_Score))

In [ ]:
 # Average Reading Score
 Average_Reading_Score = student_data_df['reading_score'].mean()
 print("{:.2f}%".format(Average_Reading_Score))

In [ ]:
# Percent Passing Math
Percent_Pass_Math=(student_data_df['math_score']>=70).sum()
print("Percent of Students Passing Math Test: {:.2f}%".format((Percent_Pass_Math/Students)*100))

In [ ]:
#Percent Passing Reading
Percent_Pass_Reading=(student_data_df['reading_score']>=70).sum()
print("Percent of Students Passing Reading Test: {:.2f}%".format((Percent_Pass_Reading/Students)*100))

In [ ]:
#Percent Passing Both Math and Reading
Percent_Pass_Both=((student_data_df['math_score']>=70) & (student_data_df['reading_score']>=70)).sum()
print("Percent of Students Passing Both Tests: {:.2f}%".format((Percent_Pass_Both/Students)*100))

In [ ]:
#District Data Overview Table
District_Data = {'Schools':[Schools], 'Students': [Students],'Budget':[TotalDistBudget],'Avg Math Score':[Average_Math_Score], 'Passing Math':['74.98%'], 'Avg Reading Score': [Average_Reading_Score], 'Passing Reading':['85.81%'], '% Passing Both':['65.17%']}
df=pd.DataFrame(District_Data)
df["Avg Math Score"]=df["Avg Math Score"].map("{:.2f}%".format)
df["Avg Reading Score"]=df["Avg Reading Score"].map("{:.2f}%".format)
df["Budget"]=df["Budget"].map("${:.0f}".format)
df.head()

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#Groupby of School Names

by_school = school_data_df['school_name']
by_school

In [ ]:
#Groubpy of School Types
School_type = school_data_df.set_index(["school_name"])["type"]
School_type

In [ ]:
# Groupby of Merged Data
Budget_Per_School=school_data_complete_df.groupby("school_name").mean()["budget"]
Budget_Per_School.map("${:.0f}".format)

In [ ]:
# Average Budget Per Student
Budget_Per_School=school_data_complete_df.groupby("school_name").mean()["budget"]
Average__budget_per_student=Budget_Per_School/school_data_complete_df["school_name"].value_counts()
Average__budget_per_student.map("${:.0f}".format)

In [ ]:
# Average Reading Score Per Student
Average_reading_score_perschool=school_data_complete_df.groupby("school_name").mean()["reading_score"]
Average_reading_score_perschool.map("{:.2f}%".format)

In [ ]:
# Average Percent Passing Reading Per School
School_passing_reading=school_data_complete_df[(school_data_complete_df['reading_score']>=70)]

# Calculate Passing Rate
Average_reading_per_school=School_passing_reading.groupby(["school_name"]).count()["student_name"]/school_data_complete_df["school_name"].value_counts()*100
Average_reading_per_school.map("{:.2f}%".format)

In [ ]:
# Average Math Score Per Student
Average_Math_Score_PerSchool=school_data_complete_df.groupby("school_name").mean()["math_score"]
Average_Math_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
# Average Percent Passing Math Per School
School_passing_math=school_data_complete_df[(school_data_complete_df['math_score']>=70)]

# Calculate Passing Rate
Average_math_per_school=School_passing_math.groupby(["school_name"]).count()["student_name"]/school_data_complete_df["school_name"].value_counts()*100
Average_math_per_school.map("{:.2f}%".format)

In [ ]:
# Average Percent Passing Math and Reading Per School
School_passing_both=school_data_complete_df[(school_data_complete_df['math_score']>=70)&(school_data_complete_df['reading_score']>=70)]

# Calculate Passing Rate
Average_both_per_school=School_passing_both.groupby(["school_name"]).count()["student_name"]/school_data_complete_df["school_name"].value_counts()*100
Average_both_per_school.map("{:.2f}%".format)

In [ ]:
#Population of Each School
Population=school_data_complete_df.groupby("school_name").count()["size"]
Population

In [ ]:
#Schools Overview Table

School_Overview={'School Type': School_type, 'Total Students':Population, 'Total School Budget':Budget_Per_School.map("${:.2f}".format), 'Per Student Budget':Average__budget_per_student.map("${:.2f}".format), 'Average Math Score': Average_Math_Score_PerSchool.map("{:.2f}%".format), 'Average Reading Score': Average_reading_score_perschool.map("{:.2f}%".format), '% Passing Math':Average_math_per_school.map("{:.2f}%".format), '% Passing Reading': Average_reading_per_school.map("{:.2f}%".format), '% Passing Both': Average_both_per_school.map("{:.2f}%".format)}
School_Overview_df=pd.DataFrame(School_Overview)
School_Overview_df

* Sort and display the top five performing schools by % overall passing.

In [ ]:
# Top 5 Performing Schools
Top_Schools=School_Overview_df.sort_values(["% Passing Both"], ascending=False)
Top_Schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
# Bottom 5 Performing Schools
Bottom_Schools=School_Overview_df.sort_values(["% Passing Both"], ascending=True)
Bottom_Schools.head(5)

## Math Scores by Grade

In [ ]:
# 9th Grade

grade_nine=school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
grade_nine

Nine_Math_Score_PerSchool=grade_nine.groupby(["school_name"]).mean()["math_score"]
Nine_Math_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#10th Grade

grade_tenth=school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
grade_tenth

Tenth_Math_Score_PerSchool=grade_tenth.groupby(["school_name"]).mean()["math_score"]
Tenth_Math_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#11th Grade

grade_eleventh = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
grade_eleventh

Eleventh_Math_Score_PerSchool=grade_eleventh.groupby(["school_name"]).mean()["math_score"]
Eleventh_Math_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#12th Grade
grade_twelfth = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
grade_twelfth

Twelfth_Math_Score_PerSchool=grade_twelfth.groupby(["school_name"]).mean()["math_score"]
Twelfth_Math_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#Math Scores by Grade and School

Math_Score_by_Grade={'9th Grade': Nine_Math_Score_PerSchool.map("{:.2f}%".format), '10th Grade': Tenth_Math_Score_PerSchool.map("{:.2f}%".format), '11th Grade': Eleventh_Math_Score_PerSchool.map("{:.2f}%".format), '12th Grade': Twelfth_Math_Score_PerSchool.map("{:.2f}%".format)}

Math_Score_byGrade=pd.DataFrame(Math_Score_by_Grade)
Math_Score_byGrade

## Reading Score by Grade

In [ ]:
#9th Grade Reading
Nine_Reading_Score_PerSchool=grade_nine.groupby(["school_name"]).mean()["reading_score"]
Nine_Reading_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#10th Grade Reading
Tenth_Reading_Score_PerSchool=grade_tenth.groupby(["school_name"]).mean()["reading_score"]
Tenth_Reading_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#11th Grade Reading
Eleventh_Reading_Score_PerSchool=grade_eleventh.groupby(["school_name"]).mean()["reading_score"]
Eleventh_Reading_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
#12th Grade Reading
Twelfth_Reading_Score_PerSchool=grade_twelfth.groupby(["school_name"]).mean()["reading_score"]
Twelfth_Reading_Score_PerSchool.map("{:.2f}%".format)

In [ ]:
# Reading Scores by Grade and School
Reading_Score_by_Grade={'9th Grade': Nine_Reading_Score_PerSchool.map("{:.2f}%".format), '10th Grade': Tenth_Reading_Score_PerSchool.map("{:.2f}%".format), '11th Grade': Eleventh_Reading_Score_PerSchool.map("{:.2f}%".format), '12th Grade': Twelfth_Reading_Score_PerSchool.map("{:.2f}%".format)}

Reading_Score_byGrade=pd.DataFrame(Reading_Score_by_Grade)
Reading_Score_byGrade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Spending
bins=[0, 570, 600, 630, 660]

#Bin Names
bins_labels=["<$570", "$570-600","$600-$630", "$630-660"] 

School_Overview_df["Spending Range (Per Student)"]=pd.cut(Average__budget_per_student, bins, labels=bins_labels, include_lowest=True)
School_Overview_df.head(15)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#School Size
bins=[0, 1300, 2600, 3900, 5200]

#Bin Names
bins_labels=["<1300", "1300-2600","2600-3900", "3900-5200"] 

School_Overview_df["Scores by School Size"]=pd.cut(Population, bins, labels=bins_labels, include_lowest=True)
School_Overview_df.head(15)

## Scores by School Type

* Perform the same operations as above, based on school type

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both,Spending Range (Per Student),Scores by School Size
Bailey High School,District,4976,$3124928.00,$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,$600-$630,3900-5200
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,$570-600,1300-2600
Figueroa High School,District,2949,$1884411.00,$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,$630-660,2600-3900
Ford High School,District,2739,$1763916.00,$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,$630-660,2600-3900
Griffin High School,Charter,1468,$917500.00,$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,$600-$630,1300-2600
Hernandez High School,District,4635,$3022020.00,$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,$630-660,3900-5200
Holden High School,Charter,427,$248087.00,$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,$570-600,<1300
Huang High School,District,2917,$1910635.00,$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,$630-660,2600-3900
Johnson High School,District,4761,$3094650.00,$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,$630-660,3900-5200
Pena High School,Charter,962,$585858.00,$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,$600-$630,<1300
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,$630-660,3900-5200
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,$570-600,1300-2600
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,$630-660,1300-2600
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,$570-600,1300-2600
Wright High School,Charter,1800,$1049400.00,$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,$570-600,1300-2600