### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup

import os
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = (r"/Users/kellenquinn/Desktop/pandas-challenge/pandas-challenge/pandas-challenge/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = (r"/Users/kellenquinn/Desktop/pandas-challenge/pandas-challenge/pandas-challenge/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# Total Number of Schools in District
Schools = len(pd.unique(school_data_complete_df['school_name']))
print("No_of_schools:", Schools)

No_of_schools: 15

In [5]:
# Total Number of Students in District
Students = len(pd.unique(school_data_complete_df['Student ID']))
print("No_of_students:", Students)

No_of_students: 39170

In [6]:
# Total District Budget
TotalDistBudget=school_data_df['budget'].sum()
print("${:.2f}".format(TotalDistBudget))

$24649428.00

In [7]:
# Average Math Score
Average_Math_Score =student_data_df['math_score'].mean()
print("{:.2f}%".format(Average_Math_Score))

78.99%

In [8]:
 # Average Reading Score
 Average_Reading_Score = student_data_df['reading_score'].mean()
 print("{:.2f}%".format(Average_Reading_Score))

81.88%

In [9]:
# Percent Passing Math
Percent_Pass_Math=(student_data_df['math_score']>=70).sum()
print("Percent of Students Passing Math Test: {:.2f}%".format((Percent_Pass_Math/Students)*100))

Percent of Students Passing Math Test: 74.98%

In [10]:
#Percent Passing Reading
Percent_Pass_Reading=(student_data_df['reading_score']>=70).sum()
print("Percent of Students Passing Reading Test: {:.2f}%".format((Percent_Pass_Reading/Students)*100))

Percent of Students Passing Reading Test: 85.81%

In [11]:
#Percent Passing Both Math and Reading
Percent_Pass_Both=((student_data_df['math_score']>=70) & (student_data_df['reading_score']>=70)).sum()
print("Percent of Students Passing Both Tests: {:.2f}%".format((Percent_Pass_Both/Students)*100))

Percent of Students Passing Both Tests: 65.17%

In [12]:
#District Data Overview Table
District_Data = {'Schools':[Schools], 'Students': [Students],'Budget':[TotalDistBudget],'Avg Math Score':[Average_Math_Score], 'Passing Math':['74.98%'], 'Avg Reading Score': [Average_Reading_Score], 'Passing Reading':['85.81%'], '% Passing Both':['65.17%']}
df=pd.DataFrame(District_Data)
df["Avg Math Score"]=df["Avg Math Score"].map("{:.2f}%".format)
df["Avg Reading Score"]=df["Avg Reading Score"].map("{:.2f}%".format)
df["Budget"]=df["Budget"].map("${:.0f}".format)
df.head()

,Schools,Students,Budget,Avg Math Score,Passing Math,Avg Reading Score,Passing Reading,% Passing Both
0,15,39170,$24649428,78.99%,74.98%,81.88%,85.81%,65.17%

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
#Groupby of School Names

by_school = school_data_df['school_name']
by_school

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [14]:
#Groubpy of School Types
School_type = school_data_df.set_index(["school_name"])["type"]
School_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
# Groupby of Merged Data
Budget_Per_School=school_data_complete_df.groupby("school_name").mean()["budget"]
Budget_Per_School.map("${:.0f}".format)

school_name
Bailey High School       $3124928
Cabrera High School      $1081356
Figueroa High School     $1884411
Ford High School         $1763916
Griffin High School       $917500
Hernandez High School    $3022020
Holden High School        $248087
Huang High School        $1910635
Johnson High School      $3094650
Pena High School          $585858
Rodriguez High School    $2547363
Shelton High School      $1056600
Thomas High School       $1043130
Wilson High School       $1319574
Wright High School       $1049400
Name: budget, dtype: object

In [16]:
# Average Budget Per Student
Budget_Per_School=school_data_complete_df.groupby("school_name").mean()["budget"]
Average__budget_per_student=Budget_Per_School/school_data_complete_df["school_name"].value_counts()
Average__budget_per_student.map("${:.0f}".format)

Bailey High School       $628
Cabrera High School      $582
Figueroa High School     $639
Ford High School         $644
Griffin High School      $625
Hernandez High School    $652
Holden High School       $581
Huang High School        $655
Johnson High School      $650
Pena High School         $609
Rodriguez High School    $637
Shelton High School      $600
Thomas High School       $638
Wilson High School       $578
Wright High School       $583
dtype: object

In [17]:
# Average Reading Score Per Student
Average_reading_score_perschool=school_data_complete_df.groupby("school_name").mean()["reading_score"]
Average_reading_score_perschool.map("{:.2f}%".format)

school_name
Bailey High School       81.03%
Cabrera High School      83.98%
Figueroa High School     81.16%
Ford High School         80.75%
Griffin High School      83.82%
Hernandez High School    80.93%
Holden High School       83.81%
Huang High School        81.18%
Johnson High School      80.97%
Pena High School         84.04%
Rodriguez High School    80.74%
Shelton High School      83.73%
Thomas High School       83.85%
Wilson High School       83.99%
Wright High School       83.95%
Name: reading_score, dtype: object

In [18]:
# Average Percent Passing Reading Per School
School_passing_reading=school_data_complete_df[(school_data_complete_df['reading_score']>=70)]

# Calculate Passing Rate
Average_reading_per_school=School_passing_reading.groupby(["school_name"]).count()["student_name"]/school_data_complete_df["school_name"].value_counts()*100
Average_reading_per_school.map("{:.2f}%".format)

Bailey High School       81.93%
Cabrera High School      97.04%
Figueroa High School     80.74%
Ford High School         79.30%
Griffin High School      97.14%
Hernandez High School    80.86%
Holden High School       96.25%
Huang High School        81.32%
Johnson High School      81.22%
Pena High School         95.95%
Rodriguez High School    80.22%
Shelton High School      95.85%
Thomas High School       97.31%
Wilson High School       96.54%
Wright High School       96.61%
dtype: object

In [19]:
# Average Math Score Per Student
Average_Math_Score_PerSchool=school_data_complete_df.groupby("school_name").mean()["math_score"]
Average_Math_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       77.05%
Cabrera High School      83.06%
Figueroa High School     76.71%
Ford High School         77.10%
Griffin High School      83.35%
Hernandez High School    77.29%
Holden High School       83.80%
Huang High School        76.63%
Johnson High School      77.07%
Pena High School         83.84%
Rodriguez High School    76.84%
Shelton High School      83.36%
Thomas High School       83.42%
Wilson High School       83.27%
Wright High School       83.68%
Name: math_score, dtype: object

In [20]:
# Average Percent Passing Math Per School
School_passing_math=school_data_complete_df[(school_data_complete_df['math_score']>=70)]

# Calculate Passing Rate
Average_math_per_school=School_passing_math.groupby(["school_name"]).count()["student_name"]/school_data_complete_df["school_name"].value_counts()*100
Average_math_per_school.map("{:.2f}%".format)

Bailey High School       66.68%
Cabrera High School      94.13%
Figueroa High School     65.99%
Ford High School         68.31%
Griffin High School      93.39%
Hernandez High School    66.75%
Holden High School       92.51%
Huang High School        65.68%
Johnson High School      66.06%
Pena High School         94.59%
Rodriguez High School    66.37%
Shelton High School      93.87%
Thomas High School       93.27%
Wilson High School       93.87%
Wright High School       93.33%
dtype: object

In [21]:
# Average Percent Passing Math and Reading Per School
School_passing_both=school_data_complete_df[(school_data_complete_df['math_score']>=70)&(school_data_complete_df['reading_score']>=70)]

# Calculate Passing Rate
Average_both_per_school=School_passing_both.groupby(["school_name"]).count()["student_name"]/school_data_complete_df["school_name"].value_counts()*100
Average_both_per_school.map("{:.2f}%".format)

Bailey High School       54.64%
Cabrera High School      91.33%
Figueroa High School     53.20%
Ford High School         54.29%
Griffin High School      90.60%
Hernandez High School    53.53%
Holden High School       89.23%
Huang High School        53.51%
Johnson High School      53.54%
Pena High School         90.54%
Rodriguez High School    52.99%
Shelton High School      89.89%
Thomas High School       90.95%
Wilson High School       90.58%
Wright High School       90.33%
dtype: object

In [22]:
#Population of Each School
Population=school_data_complete_df.groupby("school_name").count()["size"]
Population

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [23]:
#Schools Overview Table

School_Overview={'School Type': School_type, 'Total Students':Population, 'Total School Budget':Budget_Per_School.map("${:.2f}".format), 'Per Student Budget':Average__budget_per_student.map("${:.2f}".format), 'Average Math Score': Average_Math_Score_PerSchool.map("{:.2f}%".format), 'Average Reading Score': Average_reading_score_perschool.map("{:.2f}%".format), '% Passing Math':Average_math_per_school.map("{:.2f}%".format), '% Passing Reading': Average_reading_per_school.map("{:.2f}%".format), '% Passing Both': Average_both_per_school.map("{:.2f}%".format)}
School_Overview_df=pd.DataFrame(School_Overview)
School_Overview_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
Bailey High School,District,4976,$3124928.00,$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,$1884411.00,$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,$1763916.00,$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,$917500.00,$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,$3022020.00,$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,$248087.00,$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,$1910635.00,$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,$3094650.00,$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,$585858.00,$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,$1049400.00,$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

* Sort and display the top five performing schools by % overall passing.

In [24]:
# Top 5 Performing Schools
Top_Schools=School_Overview_df.sort_values(["% Passing Both"], ascending=False)
Top_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,$917500.00,$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,$585858.00,$609.00,83.84%,84.04%,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
# Bottom 5 Performing Schools
Bottom_Schools=School_Overview_df.sort_values(["% Passing Both"], ascending=True)
Bottom_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,2949,$1884411.00,$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,2917,$1910635.00,$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,4635,$3022020.00,$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,4761,$3094650.00,$650.00,77.07%,80.97%,66.06%,81.22%,53.54%

## Math Scores by Grade

In [26]:
# 9th Grade

grade_nine=school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
grade_nine

Nine_Math_Score_PerSchool=grade_nine.groupby(["school_name"]).mean()["math_score"]
Nine_Math_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       77.08%
Cabrera High School      83.09%
Figueroa High School     76.40%
Ford High School         77.36%
Griffin High School      82.04%
Hernandez High School    77.44%
Holden High School       83.79%
Huang High School        77.03%
Johnson High School      77.19%
Pena High School         83.63%
Rodriguez High School    76.86%
Shelton High School      83.42%
Thomas High School       83.59%
Wilson High School       83.09%
Wright High School       83.26%
Name: math_score, dtype: object

In [27]:
#10th Grade

grade_tenth=school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
grade_tenth

Tenth_Math_Score_PerSchool=grade_tenth.groupby(["school_name"]).mean()["math_score"]
Tenth_Math_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       77.00%
Cabrera High School      83.15%
Figueroa High School     76.54%
Ford High School         77.67%
Griffin High School      84.23%
Hernandez High School    77.34%
Holden High School       83.43%
Huang High School        75.91%
Johnson High School      76.69%
Pena High School         83.37%
Rodriguez High School    76.61%
Shelton High School      82.92%
Thomas High School       83.09%
Wilson High School       83.72%
Wright High School       84.01%
Name: math_score, dtype: object

In [28]:
#11th Grade

grade_eleventh = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
grade_eleventh

Eleventh_Math_Score_PerSchool=grade_eleventh.groupby(["school_name"]).mean()["math_score"]
Eleventh_Math_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       77.52%
Cabrera High School      82.77%
Figueroa High School     76.88%
Ford High School         76.92%
Griffin High School      83.84%
Hernandez High School    77.14%
Holden High School       85.00%
Huang High School        76.45%
Johnson High School      77.49%
Pena High School         84.33%
Rodriguez High School    76.40%
Shelton High School      83.38%
Thomas High School       83.50%
Wilson High School       83.20%
Wright High School       83.84%
Name: math_score, dtype: object

In [29]:
#12th Grade
grade_twelfth = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
grade_twelfth

Twelfth_Math_Score_PerSchool=grade_twelfth.groupby(["school_name"]).mean()["math_score"]
Twelfth_Math_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       76.49%
Cabrera High School      83.28%
Figueroa High School     77.15%
Ford High School         76.18%
Griffin High School      83.36%
Hernandez High School    77.19%
Holden High School       82.86%
Huang High School        77.23%
Johnson High School      76.86%
Pena High School         84.12%
Rodriguez High School    77.69%
Shelton High School      83.78%
Thomas High School       83.50%
Wilson High School       83.04%
Wright High School       83.64%
Name: math_score, dtype: object

In [30]:
#Math Scores by Grade and School

Math_Score_by_Grade={'9th Grade': Nine_Math_Score_PerSchool.map("{:.2f}%".format), '10th Grade': Tenth_Math_Score_PerSchool.map("{:.2f}%".format), '11th Grade': Eleventh_Math_Score_PerSchool.map("{:.2f}%".format), '12th Grade': Twelfth_Math_Score_PerSchool.map("{:.2f}%".format)}

Math_Score_byGrade=pd.DataFrame(Math_Score_by_Grade)
Math_Score_byGrade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

## Reading Score by Grade

In [31]:
#9th Grade Reading
Nine_Reading_Score_PerSchool=grade_nine.groupby(["school_name"]).mean()["reading_score"]
Nine_Reading_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       81.30%
Cabrera High School      83.68%
Figueroa High School     81.20%
Ford High School         80.63%
Griffin High School      83.37%
Hernandez High School    80.87%
Holden High School       83.68%
Huang High School        81.29%
Johnson High School      81.26%
Pena High School         83.81%
Rodriguez High School    80.99%
Shelton High School      84.12%
Thomas High School       83.73%
Wilson High School       83.94%
Wright High School       83.83%
Name: reading_score, dtype: object

In [32]:
#10th Grade Reading
Tenth_Reading_Score_PerSchool=grade_tenth.groupby(["school_name"]).mean()["reading_score"]
Tenth_Reading_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       80.91%
Cabrera High School      84.25%
Figueroa High School     81.41%
Ford High School         81.26%
Griffin High School      83.71%
Hernandez High School    80.66%
Holden High School       83.32%
Huang High School        81.51%
Johnson High School      80.77%
Pena High School         83.61%
Rodriguez High School    80.63%
Shelton High School      83.44%
Thomas High School       84.25%
Wilson High School       84.02%
Wright High School       83.81%
Name: reading_score, dtype: object

In [33]:
#11th Grade Reading
Eleventh_Reading_Score_PerSchool=grade_eleventh.groupby(["school_name"]).mean()["reading_score"]
Eleventh_Reading_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       80.95%
Cabrera High School      83.79%
Figueroa High School     80.64%
Ford High School         80.40%
Griffin High School      84.29%
Hernandez High School    81.40%
Holden High School       83.82%
Huang High School        81.42%
Johnson High School      80.62%
Pena High School         84.34%
Rodriguez High School    80.86%
Shelton High School      84.37%
Thomas High School       83.59%
Wilson High School       83.76%
Wright High School       84.16%
Name: reading_score, dtype: object

In [34]:
#12th Grade Reading
Twelfth_Reading_Score_PerSchool=grade_twelfth.groupby(["school_name"]).mean()["reading_score"]
Twelfth_Reading_Score_PerSchool.map("{:.2f}%".format)

school_name
Bailey High School       80.91%
Cabrera High School      84.29%
Figueroa High School     81.38%
Ford High School         80.66%
Griffin High School      84.01%
Hernandez High School    80.86%
Holden High School       84.70%
Huang High School        80.31%
Johnson High School      81.23%
Pena High School         84.59%
Rodriguez High School    80.38%
Shelton High School      82.78%
Thomas High School       83.83%
Wilson High School       84.32%
Wright High School       84.07%
Name: reading_score, dtype: object

In [35]:
# Reading Scores by Grade and School
Reading_Score_by_Grade={'9th Grade': Nine_Reading_Score_PerSchool.map("{:.2f}%".format), '10th Grade': Tenth_Reading_Score_PerSchool.map("{:.2f}%".format), '11th Grade': Eleventh_Reading_Score_PerSchool.map("{:.2f}%".format), '12th Grade': Twelfth_Reading_Score_PerSchool.map("{:.2f}%".format)}

Reading_Score_byGrade=pd.DataFrame(Reading_Score_by_Grade)
Reading_Score_byGrade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
#Scores by School Spending
bins=[0, 570, 600, 630, 660]

#Bin Names
bins_labels=["<$570", "$570-600","$600-$630", "$630-660"] 

School_Overview_df["Spending Range (Per Student)"]=pd.cut(Average__budget_per_student, bins, labels=bins_labels, include_lowest=True)
School_Overview_df.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both,Spending Range (Per Student)
Bailey High School,District,4976,$3124928.00,$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,$600-$630
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,$570-600
Figueroa High School,District,2949,$1884411.00,$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,$630-660
Ford High School,District,2739,$1763916.00,$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,$630-660
Griffin High School,Charter,1468,$917500.00,$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,$600-$630
Hernandez High School,District,4635,$3022020.00,$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,$630-660
Holden High School,Charter,427,$248087.00,$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,$570-600
Huang High School,District,2917,$1910635.00,$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,$630-660
Johnson High School,District,4761,$3094650.00,$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,$630-660
Pena High School,Charter,962,$585858.00,$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,$600-$630
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,$630-660
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,$570-600
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,$630-660
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,$570-600
Wright High School,Charter,1800,$1049400.00,$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,$570-600

## Scores by School Size

* Perform the same operations as above, based on school size.

In [54]:
#School Size
bins=[0, 1800, 3600, 5400]

#Bin Names
bins_labels=["<1300 Small", "1800-3600 Medium","3600-5400 Large"] 

School_Overview_df["Scores by School Size"]=pd.cut(Population, bins, labels=bins_labels, include_lowest=True)
School_Overview_df.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both,Spending Range (Per Student),Scores by School Size
Bailey High School,District,4976,$3124928.00,$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,$600-$630,3600-5400 Large
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,$570-600,1800-3600 Medium
Figueroa High School,District,2949,$1884411.00,$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,$630-660,1800-3600 Medium
Ford High School,District,2739,$1763916.00,$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,$630-660,1800-3600 Medium
Griffin High School,Charter,1468,$917500.00,$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,$600-$630,<1300 Small
Hernandez High School,District,4635,$3022020.00,$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,$630-660,3600-5400 Large
Holden High School,Charter,427,$248087.00,$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,$570-600,<1300 Small
Huang High School,District,2917,$1910635.00,$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,$630-660,1800-3600 Medium
Johnson High School,District,4761,$3094650.00,$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,$630-660,3600-5400 Large
Pena High School,Charter,962,$585858.00,$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,$600-$630,<1300 Small
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,$630-660,3600-5400 Large
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,$570-600,<1300 Small
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,$630-660,<1300 Small
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,$570-600,1800-3600 Medium
Wright High School,Charter,1800,$1049400.00,$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,$570-600,<1300 Small

## Scores by School Type

* Perform the same operations as above, based on school type

In [114]:
ScoresByType=School_Overview_df.sort_values(["School Type"], ascending=False)
ScoresByType.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both,Spending Range (Per Student),Scores by School Size
Bailey High School,District,4976,$3124928.00,$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,$600-$630,3600-5400 Large
Figueroa High School,District,2949,$1884411.00,$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,$630-660,1800-3600 Medium
Ford High School,District,2739,$1763916.00,$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,$630-660,1800-3600 Medium
Hernandez High School,District,4635,$3022020.00,$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,$630-660,3600-5400 Large
Huang High School,District,2917,$1910635.00,$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,$630-660,1800-3600 Medium
Johnson High School,District,4761,$3094650.00,$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,$630-660,3600-5400 Large
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,$630-660,3600-5400 Large
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,$570-600,1800-3600 Medium
Griffin High School,Charter,1468,$917500.00,$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,$600-$630,<1300 Small
Holden High School,Charter,427,$248087.00,$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,$570-600,<1300 Small
Pena High School,Charter,962,$585858.00,$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,$600-$630,<1300 Small
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,$570-600,<1300 Small
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,$630-660,<1300 Small
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,$570-600,1800-3600 Medium
Wright High School,Charter,1800,$1049400.00,$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,$570-600,<1300 Small